In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (1.0.1)
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.19.5)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (3.0.0)

In [1]:
import pandas as pd

In [27]:
# train = pd.read_csv('/content/drive/MyDrive/mer_train_fin3.csv', sep=';', parse_dates=['real_time'])
train = pd.read_csv('/content/drive/MyDrive/mer_test_fin.csv', sep=',', parse_dates=['real_time'])

In [31]:
train.head()

        os  weekday  season  ... os_global          category       subcategory
0  android        6  autumn  ...      10.0          Shopping          Shopping
1  android        1  summer  ...      10.0               NaN               NaN
2      ios        4  autumn  ...      14.0             Games             Board
3  android        0  summer  ...       9.0             Games        Simulation
4  android        3  summer  ...      10.0  Health & Fitness  Health & Fitness

[5 rows x 7 columns]

In [30]:
# train = train.drop(["city", 'Unnamed: 0', 'bundle', 'oblast', 'city', 'osv', 'real_time', 'Segment'], axis=1)
train = train.drop(["city", 'Unnamed: 0', 'bundle', 'oblast', 'city', 'osv', 'real_time'], axis=1)

In [41]:
train.shape[0]

25563

In [39]:
train = train[train['subcategory'].notna()]

In [40]:
train = train.drop_duplicates()

In [52]:
train.head()

        os  weekday  season  ...          category       subcategory CLuster
0  android        6  autumn  ...          Shopping          Shopping       3
2      ios        4  autumn  ...             Games             Board       1
3  android        0  summer  ...             Games        Simulation       4
4  android        3  summer  ...  Health & Fitness  Health & Fitness       2
5  android        5  autumn  ...             Games            Racing       4

[5 rows x 8 columns]

In [43]:
from sklearn.preprocessing import LabelEncoder

In [44]:
labelEncoderOS = LabelEncoder()
labelEncoderOS.fit(train['os'])
train['os'] = labelEncoderOS.transform(train['os'])

In [45]:
labelEncoderweekday = LabelEncoder()
labelEncoderweekday.fit(train['weekday'])
train['weekday'] = labelEncoderweekday.transform(train['weekday'])

In [46]:
labelEncoderseason = LabelEncoder()
labelEncoderseason.fit(train['season'])
train['season'] = labelEncoderseason.transform(train['season'])

In [47]:
labelEncoderday_part = LabelEncoder()
labelEncoderday_part.fit(train['day_part'])
train['day_part'] = labelEncoderday_part.transform(train['day_part'])

In [48]:
labelEncoderos_global = LabelEncoder()
labelEncoderos_global.fit(train['os_global'])
train['os_global'] = labelEncoderos_global.transform(train['os_global'])

In [49]:
labelEncodercategory = LabelEncoder()
labelEncodercategory.fit(train['category'])
train['category'] = labelEncodercategory.transform(train['category'])

In [50]:
labelEncodersubcategory = LabelEncoder()
labelEncodersubcategory.fit(train['subcategory'])
train['subcategory'] = labelEncodersubcategory.transform(train['subcategory'])

In [51]:
from sklearn.cluster import AgglomerativeClustering
import numpy as np
X = np.array(train)
clustering = AgglomerativeClustering(n_clusters = 5).fit(X)
train['CLuster'] = clustering.labels_
train['os'] = labelEncoderOS.inverse_transform(train['os'])
train['weekday'] = labelEncoderweekday.inverse_transform(train['weekday'])
train['season'] = labelEncoderseason.inverse_transform(train['season'])
train['day_part'] = labelEncoderday_part.inverse_transform(train['day_part'])
train['os_global'] = labelEncoderos_global.inverse_transform(train['os_global'])
train['category'] = labelEncodercategory.inverse_transform(train['category'])
train['subcategory'] = labelEncodersubcategory.inverse_transform(train['subcategory'])

In [53]:
train.to_csv('/content/drive/MyDrive/test_cluster.csv', sep=';', encoding='utf-8')